*.erate
*.info
*.rec
*.tbi
*.no.snp
*.ped
*.ID
*.bed
*.map
*.snakemake/*
*.swp
*checkpoint*
pedtest.txt
*.Alpha
*.nosex
*.log
*.bim
*.bam
*.imiss
*.lmiss
*.fam
*.frq
*.hwe
*.haps
*.sample
*.mm
*.irem
*.hh
*.sexcheck
toAlpha/Alpha/snp50_c.chr1.spec
toAlpha/peds/*
*.txt
*sql
*.csv
*.frqx
*.gz
*.legend
*.hap
*.png
*.vcf
*.csv
bin/oldbin/*
